@font-face {
  font-family: "Geometria";
  src: url("./fonts/geometria/Geometria.eot");
  src: local("Geometria"),
    url("./fonts/geometria/Geometria.eot?#iefix") format("embedded-opentype"),
    url("./fonts/geometria/Geometria.woff") format("woff"),
    url("./fonts/geometria/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
