.purchase-amount {
  display: flex;
  padding: 0 40px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e1e1e1;
  margin-bottom: 32px;
  @media screen and (max-width: 920px) {
    margin-bottom: 20px;
    padding: 0 40px 0 20px;
  }
}
.purchase-amount__title {
  display: block;
  white-space: nowrap;
  text-align: left;
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #686868;
}
.purchase-amount__label {
  display: block;
  flex-basis: 35%;
}
.purchase-amount__value {
  display: block;
  box-sizing: border-box;
  border: none;
  text-align: right;
  flex-basis: 60%;
  width: 60%;
  height: 100%;
  padding-left: 20px;
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  @media screen and (max-width: 520px) {
    font-size: 18px;
    line-height: 23px;
  }
  &:focus {
    outline: none;
  }
}
.purchase-amount__currency {
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  @media screen and (max-width: 520px) {
    font-size: 18px;
    line-height: 23px;
  }
}
